header {
    max-width: auto;
    margin-top: -20px;

}

nav {
    margin-top: -21px;
    background-color: #cccbb9;
    text-align: center;
}

nav a {
    color: #3a3935;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    float: none;

}

nav a:hover {
    transition: width 2s;
    transform: scale(1.2);
    float: none;
}

#regionsHome {
    font-size: bold;
    text-align: center;
}

#imgHome {
    max-width: 60%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    display: block;
    font-weight: bold;
}

#titlehome {
    background-color: #48911e;
    color: #fff;
    text-align: center;
    padding: 40px;
    font-size: 30px;
}

/*Slideshow*/
* {
    box-sizing: border-box
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Slideshow container */
.slideshow-container {
    max-width: 50%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 18px 68px 8px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*Fim slideshow*/

#main-img {
    width: 100%;
    height: 300px;
}

#cell-img {
    padding: 5%;
    text-align: center;
    position: relative;
}

.backgrounds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: dotted;

}

#homeIntro {
    font-size: bold;
    text-align: center;
}
#regionsHead{
    text-align: center;
}

/*Estilos pagina home side-by-side images*/
.container {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    
}

.textHome {
    flex: 1;
    /* This allows the text to take up the remaining space */
}
/*Fim side-by-side*/
/*Side-by-side slider e texto*/
.slideshow-boxing {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.slideshow-container {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    
}

.slideshowText {
    flex: 1;
    margin-left: 40px;
    /* This allows the text to take up the remaining space */
} 
/*Fim side-by-side*/

/*ESTILO DE FORMULARIO OPINIOES*/
/* Remove outline on all focus */
*:focus {
    outline: none;
}

/* Typographic */
body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    padding: 0px;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10px;
}


form label {
    font-family: Georgia, Times, "Times New Roman", serif;
}


form ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}

form li:first-child,
form li:last-child {
    border-bottom: 1px solid #777;
}

form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

form textarea {
    padding: 8px;
    width: 300px;
}

form button {
    margin-left: 156px;
}

form input,
form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 30px;
}

form input:focus,
form textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right: 70px;
}

/* Button Style */
button.submit {
    background-color: #5d6749;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2b580), to(#5d6749));
    background: -webkit-linear-gradient(top, #b2b580, #5d6749);
    background: -moz-linear-gradient(top, #b2b580, #5d6749);
    background: -ms-linear-gradient(top, #b2b580, #5d6749);
    background: -o-linear-gradient(top, #b2b580, #5d6749);
    background: linear-gradient(top, #b2b580, #5d6749);
    border: 1px solid #7a9111;
    border-bottom: 1px solid #7a9111;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #9fd574;
}

button.submit:hover {
    opacity: .85;
    cursor: pointer;
}

button.submit:active {
    border: 1px solid #48911e;
    box-shadow: 0 0 10px 5px #436b0b inset;
    -webkit-box-shadow: 0 0 10px 5px #436b0b inset;
    -moz-box-shadow: 0 0 10px 5px #436b0b inset;
    -ms-box-shadow: 0 0 10px 5px #436b0b inset;
    -o-box-shadow: 0 0 10px 5px #436b0b inset;

}

/* Transitions */
form input,
form textarea {
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}

/* When a field is required */
input:required,
textarea:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}

/* when a field is considered invalid by the browser */
form input:focus:invalid,
form textarea:focus:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

/* when a field is considered valid by the browser */
form input:required:valid,
form textarea:required:valid {
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #51921f;
}

/* Placeholders */
:-moz-placeholder {
    color: gray;
}

::-webkit-input-placeholder {
    color: gray;
}

/* Hint and Required */
.required_notification {
    color: #d45252;
    margin: -5px 0 0 0;
    display: inline;
    float: right;
}

.hint,
.required_notification {
    font-size: 11px;
}

.hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999;
    /* hints stay above all other elements */
    position: absolute;
    /* allows proper formatting if hint is two lines */
    display: none;
}

.hint::before {
    content: "\25C0";
    /* left point triangle in escaped unicode */
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
}

form input:focus+.hint {
    display: inline;
}

form input:required:valid+.hint {
    background: #28921f;
}

/* change form hint color when valid */
form input:required:valid+.hint::before {
    color: #28921f;
}

/* change form hint arrow color when valid */

/*FIM FORMULAIO OPINIOES*/

.figureFooter {
    width: 150px;
}

img {
    overflow: clip;
}

footer {
    background-color: #3a3935;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    bottom: 0;
    width: auto;
    float: none;
}